<nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Online Users</p>
        <p class="title">{{counter}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Total Users</p>
        <p class="title">123</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Km</p>
        <p class="title">456</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Countries</p>
        <p class="title">10</p>
      </div>
    </div>
  </nav>